<html>

<head>
    <title>Home Page</title>
    <div align="center">
        <h1>Welcome Onboard</h1>
    </div>
    <hr>
    <style>
        .login-form {
            width: 300px;
            margin: 0 auto;
            font-family: Tahoma, Geneva, sans-serif;
        }

        .login-form h1 {
            text-align: center;
            color: #4d4d4d;
            font-size: 24px;
            padding: 20px 0 20px 0;
        }

        .login-form input[type="text"] {
            width: 100%;
            padding: 15px;
            border: 1px solid #dddddd;
            margin-bottom: 15px;
            box-sizing: border-box;
        }
    </style>
</head>

<body>
    <div class="login-form">
        <h1>Add User</h1>
        <form action="http://localhost:8888/create-user" method="POST">
            <div id="error-container"></div>
            <input id="name" type="text" name="name" value="" placeholder="Enter your name!">
            <button type="button" name="button" onclick="setUsername()">
                Let me chat!
            </button>
        </form>
    </div>
</body>
<div align="center">
    <h2>Dummy Userlist</h2>
    <ul>
        <% data.username.forEach(function(item){%>
            <li>
                <%= item %>
            </li>
            <% }) %>
    </ul>
</div>


<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();
    function setUsername() {
        socket.emit('setUsername', document.getElementById('name').value);
    };
    var user;
    socket.on('userExists', function (data) {
        document.getElementById('error-container').innerHTML = data;
    });
    socket.on('userSet', function (data) {
        user = data.username;
        document.body.innerHTML = '<input type = "text" id = "message">\
      <button type = "button" name = "button" onclick = "sendMessage()">Send</button>\
      <div id = "message-container"></div>';
    });
    function sendMessage() {
        var msg = document.getElementById('message').value;
        if (msg) {
            socket.emit('msg', { message: msg, user: user });
        }
    }
    socket.on('newmsg', function (data) {
        if (user) {
            document.getElementById('message-container').innerHTML += '<div><b>' +
                data.user + '</b>: ' + data.message + '</div>'
        }
    })
</script>

</html>




</html>