<html>
    <div align="center">
        <h2>Dummy Userlist</h2>
        <ul>
            <% data.username.forEach(function(item){%>
            <li><%= item %></li>
            <% }) %>
        </ul>
    </div>
</html>